h1 {
  
  font-size: 3em;
  color: rgb(80, 4, 4);
}

h5 {
  font-weight: bolder;
  font-size: 1.5em;
}

body {
  background-color: rgb(17, 155, 17);
}
.container {
  text-align: center;
}
/* Style the video: 100% width and height to cover the entire window */

.fullscreen-bg {
  position: fixed;
  margin-left: 0px;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.75;
  filter: alpha(opacity=50);

}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.jumbotron {
  
  margin-bottom:0px;

}
.header {
  position: fixed;

}